<<<<<<< HEAD
h1{color:  #0077be;}
}
.gradient {
  background-image: linear-gradient(to right,
   #ffffff 0%, #66ffff 100%,);}
=======
h1{
  background-color: red;
}
>>>>>>> f129745b93b3b269bf0aeba05307f8caed554c54
