h1{
  color:  #0077be;
}

<<<<<<< HEAD
body {background-color: light;}

<font size="3" color="red">This is some text!</font>

.myH1{
  font-family: ;
  color: ;
  size: ;
=======
body {
  background-color: coral;
>>>>>>> 06cad01c9b17fd0d2dd49cda4c46e34919af2a4c
}
